/* CustomerForm.css */

.form-container {
    width: 300px;
    margin: auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    color: #333;
    text-align: center;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  
  .form-container label {
    margin-bottom: 8px;
  }
  
  .form-container input {
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container button {
    background-color: transparent;
    color: #333;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .form-container button:hover {
    background-color: #333;
    color: #fff;
  }
  