.back-button {
    background: none;
    border: none;
    color: #000;
    font-size: 1.2em; /* Adjust the font size to make the letters bigger */
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .back-icon {
    margin-right: 0.5em; /* Space between arrow and text */
    font-size: 1.2em; /* Ensure the arrow is the same size as the text */
  }
  
  .back-button:hover {
    text-decoration: underline; /* Optional: Add some hover effect */
    background-color: transparent;
  }
  