.trainer-container {
  font-family: sans-serif;
  width: 50vw;
  min-height: 600px;
  max-height: 85vh;
  color: black;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.trainer-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .create-trainer-button {
    background-color: #9693fb;
    color: white;                   cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      background-color: #6c63ff;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }
  }
}

.icon {
  margin-right: 8px;
  font-size: 16px;
}

.trainer-table-scroll {
  flex: 1;
  overflow-y: auto;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  
  p {
    margin-top: 20px;
    color: #40385a;
    font-size: 16px;
    font-weight: 500;
  }
}

.trainer-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-radius: 12px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;

  th, td {
    border: 1px solid #ddd;
    padding: 14px;
    text-align: left;
    background-color: white;
    color: #40385a;
    border: transparent;
  }

  th {
    background-color: #f9f8fd;
    color: #5b5679;
    font-weight: 600;
  }

  td {
    border-bottom: 1px solid #ddd;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:last-child td {
    border-bottom: none;
  }
}

.delete-button,
.edit-button {
  background: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #40385a;
  cursor: pointer;
  min-width: 30px;
  min-height: 30px;
  margin: 0 5px;

  &:hover:not(:disabled) {
    color: #6c63ff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.delete-button:hover:not(:disabled) {
  color: #EB5757;
}
