
.dashboard-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;

  .grid-one {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }

  .grid-two {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
}
/*
.chart-box, 
.container {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: fit-content;
  margin: auto;
  margin-top: 20px;
}*/
