.class-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0 20px;
    
  
    .table-wrapper {
      width: 100%;
      max-width: 92%;
      background-color: white;
      border-radius: 12px;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      padding-bottom: 14px;
  
      .class-table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        border-radius: 12px;
        overflow: hidden;
        font-family: 'Roboto', sans-serif;
  
        th,
        td {
          border: 1px solid #ddd;
          padding: 14px;
          text-align: left;
          background-color: white;
          color: #40385a;
          border: transparent;
        }
  
        th {
          background-color: #f9f8fd;
          color: #5b5679;
          font-weight: 600;
        }
  
        td {
          border-bottom: 1px solid #ddd;
        }
  
        tr:nth-child(even) {
          background-color: #f2f2f2;
        }
  
        tr:hover {
          background-color: #ddd;
        }
  
        .clickable-cell {
          cursor: pointer;
          background-color: #f0f8ff;
        }
      }
    }
  
    .button-container {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
  
      .edit-button,
      .save-button,
      .cancel-button {
        background-color: #04aa6d;
        color: white;
        padding: 6px 10px;
        border: none;
        border-radius: 6px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
  
        &:hover {
          background-color: #2f855b;
        }
      }
  
      .save-button {
        background-color: #007bff;
  
        &:hover {
          background-color: #0056b3;
        }
      }
  
      .cancel-button {
        background-color: #ff0000;
  
        &:hover {
          background-color: #cc0000;
        }
      }
    }
  }
  