@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  width: 420px;
  background: rgba(162, 127, 162, 0.7);
  padding: 30px 40px;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
}

span {
  color: #fff;
  font-size: small;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

header {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.input-field {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
  height: 50px;
}

.input-field .input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 40px;
  color: #fff;
  padding: 0 0 0 42px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}

.input-field i {
  position: absolute;
  top: 12px;
  left: 17px;
  color: #fff;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

::-webkit-input-placeholder {
  color: #fff;
}

.submit {
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  outline: none;
  font-weight: bold;
  color: rgba(104, 68, 104, 0.7);
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
  box-sizing: border-box;
}

.submit:hover {
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.9);
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 12px;
  margin-bottom: 15px;
}

.left {
  display: flex;
  align-items: center;
}

.left label {
  margin-left: 5px;
}

.right {
  display: flex;
  align-items: center;
}

.right a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.right a:hover {
  color: #ccc;
}

.error-message {
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
}
