
.trainer-list-container{
  font-family: sans-serif;
  margin-top: 40px;
  

  height: 70vh; /* 70% of the screen height */
  background-color: rgba(255, 255, 255, 0.9); /* Transparent white background */
  border: 1px solid #ccc; /* Light gray border */
  padding: 20px; /* Add some padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
  color: black;
}

.trainer-button {
  background-color: #379c6e; 
  color: #ffffff;
  margin-bottom: 5px;
}
.trainer-button:hover {
  background-color: #2f855b; 
  color: #ffffff;
  margin-bottom: 5px;

}

.trainer-table {
  width: 100%; /* Full width of the container */
  border-collapse: collapse; /* Collapse borders between cells */
}

.trainer-table th{
  background-color: #04AA6D;
    padding: 8px;
    color: white; 
}
  
tr:nth-child(even){background-color: #f2f2f2}


.trainer-table td{
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.create-trainer-button {
  background-color: #04AA6D; 
  color: white; 
  font-weight: bolder;
  cursor: pointer; 
  text-align: center; 
  font-size: 16px;
  border: none;
  margin-left: 1px;  
  padding: 8px 8px; 
  margin-bottom: 5px;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */

}

.create-trainer-button:hover {
  background-color: #2f855b; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Enhance box shadow on hover */
}

.icon {
  margin-right: 8px; /* Space between icon and text */
  font-size: 16px; /* Adjust icon size */
}
  

