.trainer-container {
  font-family: sans-serif;
  width: 50vw;
  height: auto;
  color: black;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trainer-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.trainer-header .create-trainer-button {
  background-color: #9693fb;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.trainer-header .create-trainer-button:hover {
  background-color: #6c63ff;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.icon {
  margin-right: 8px;
  font-size: 16px;
}

.trainer-table-scroll {
  max-height: 70vh;
  overflow-y: auto;
}

.trainer-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-radius: 12px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.trainer-table th, .trainer-table td {
  border: 1px solid #ddd;
  padding: 14px;
  text-align: left;
  background-color: white;
  color: #40385a;
  border: transparent;
}

.trainer-table th {
  background-color: #f9f8fd;
  color: #5b5679;
  font-weight: 600;
}

.trainer-table td {
  border-bottom: 1px solid #ddd;
}

.trainer-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.trainer-table tr:last-child td {
  border-bottom: none;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
}

.delete-button:hover {
  color: darkred;
}
