.update-customer-container {
  font-family: 'Roboto', sans-serif;
  width: 50vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.update-customer-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.update-customer-vertical-line {
  border-left: 2px solid #ccc;
  height: 30px;
  margin: 0 10px;
}

.update-customer-header h2 {
  font-size: 1.2em;
  color: #40385a;
}

.update-customer-table {
  width: 100%;
  border-collapse: collapse;
}

.update-customer-table-header {
  text-align: left;
  padding: 10px;
  background-color: #f9f8fd;
  border: 1px solid #ddd;
  font-weight: bold;
  color: #5b5679;
}

.update-customer-table-data,
.update-customer-table-input,
.update-customer-table-select {
  padding: 10px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  color: #40385a;
}

.update-customer-table td {
  padding: 0; /* Remove default padding */
  border: 1px solid #ddd;
}

.update-customer-table-input,
.update-customer-table-select {
  border: none;
  outline: none;
  padding: 10px;
  background-color: transparent;
  width: calc(100% - 20px); /* Ensure consistent width */
  box-sizing: border-box;
  font-size: 1em;
  color: #40385a;
}

.update-customer-table-input:focus,
.update-customer-table-select:focus {
  outline: none;
}

.update-customer-table-button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #9693fb;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.update-customer-table-button:hover {
  background-color: #6c63ff;
}

.update-customer-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.readonly-field {
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-weight: bold;
  border-radius: 4px;
}

.payment-error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}
