.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Darker overlay for better focus */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    background-color: rgba(255, 255, 255, 0.9); /* san container's background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* san ti  box shadow */
    color: black;
    width: 30vw;
    max-width: 500px;
    text-align: center;
}

.modal-message {
    margin-bottom: 20px;
    font-size: 16px; /* todo : poli megalo */
    color: #40385a; /* san to header color */
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.modal-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}

.confirm {
    background-color: #9693fb; 
    color: white;
}

.confirm:hover:not(:disabled) {
    background-color: #6c63ff; 
}

.cancel {
    background-color: #f44336; 
    color: white;
}

.cancel:hover:not(:disabled) {
    background-color: #d32f2f; 
}
